<section class="imagebanner">
    <div class="leftBanner">
      <div class="topImages">
        <img src="/images/left1.svg" alt="leftImage" />
        <img src="/images/left2.svg" alt="leftImage" />
      </div>
      <div class="bottomImages">
        <img src="/images/left3.svg" alt="leftImage" />
      </div>
    </div>
    <div class="rightBanner">
    <div class="OneImages">
        <img src="/images/right1.svg" alt="rightImage" />
      </div>
      <div class="TwoImages">
        <img src="/images/right2.svg" alt="rightImage" />
        <img src="/images/right3.svg" alt="rightImage" />
      </div>
    </div>
  </section>