@import '../../../../../styles/base/func';
.programs{
    padding-block: size(63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{max-width()} {
        padding-block: size(33);
        text-align: center;
    }
    h2{
        font-size: size(48);
        font-weight: 700;
        line-height: size(59.42);
        color: var(--dark);
        @media #{max-width()} {
            font-size: size(38);
        }
    }
    h5{
        font-size: size(26);
        font-weight: 700;
        line-height: size(30);
        color: var(--pink);
        margin-bottom: size(53);
    }
    .content{
        display: flex;
        gap: size(24);
        @media #{max-width()} {
            flex-direction: column;
        }
    }
    .notes{
        margin-top: size(31);
        padding-block: size(32);
        padding-left: size(40.28);
        padding-right: size(103.15);
        border-radius: size(29);
        width: 100%;
        background-color: var(--white);
        margin-bottom: size(31);
        @media #{max-width()} {
            padding-block: size(25);
            padding-left: size(25);
            padding-right: size(25);
        }
        p{
            font-size: size(20);
            font-weight: 500;
            line-height: size(30);
            color: var(--black);
        }
    }
    .banners{
        width: 100%;
    }
 
}