<section class="banner">
    <div class="pinkBanner">
      <div class="content">
        <div class="leftContent">
          <h2>{{ bannerData.bannerPinkTitle }}</h2>
        </div>
        <div class="rightContent">
          <div class="price">
            <h3>{{ bannerData.bannerPinkPrice1 }}</h3>
            <h3>{{ bannerData.bannerPinkPrice2 }}</h3>
          </div>
          <p>{{ bannerData.bannerPinkText }}</p>
        </div>
      </div>
    </div>
    <div class="greenBanner">
      <div class="content">
        <div class="leftContent">
          <h2>{{ bannerData.bannerGreenTitle }}</h2>
        </div>
        <div class="rightContent">
          <p><span>{{ bannerData.bannerGreenPrice1 }}</span>{{ bannerData.bannerGreenText1 }}</p>
          <p><span>{{ bannerData.bannerGreenPrice2 }}</span>{{ bannerData.bannerGreenText2 }}</p>
        </div>
      </div>
    </div>
  </section>
  