@import '../../../../styles/base/func';
.educationcard{
    padding: size(25);
    width: size(324);
    height: size(272);
    background-color: var(--white);
    border-radius: size(16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: size(10);
    @media #{max-width()} {
        width: 100%;
      }
    h3{
        font-size: size(24);
        font-weight: 700;
        line-height: size(29.71);
    }
    p{
        font-size: size(20);
        font-weight: 500;
        line-height: size(24.26);
        color: var(--dark);
    }
    button{
        width: max-content;
    }
}