@import '../../../../../styles/base/func';
.careercenter{
    .content{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        .top{
            display: flex;
            @media #{max-width()} {
                flex-direction: column;
             }
            .info{
                width: 50%;
                padding: size(95) size(90);
                @media #{max-width()} {
                    width: 100%;
                    padding: size(20) size(20);
                 }
                .infoContent{
                    display: flex;
                    flex-direction: column;
                    gap: size(29);
                    max-width: size(539);
                    @media #{max-width()} {
                        gap: size(20);
                        max-width: 100%;
                     }
                    h2{
                        font-size: size(59);
                        font-weight: 700;
                        line-height: size(73.04);
                        color: var(--black);
                        @media #{max-width()} {
                            font-size: size(32);
                            line-height: size(42);
                         }
                    }
                    p{
                        font-size: size(24);
                        font-weight: 600;
                        line-height: size(32);
                        color: var(--black);
                        @media #{max-width()} {
                            font-size: size(18);
                            line-height: size(24);
                         }
                    }
                    button{
                        width: max-content;
                    }
                    .iconTitle{
                        display: flex;
                        align-items: center;
                        gap: size(8);
                        img{
                            width: size(25);
                            height: size(25);
                        }
                        span{
                            text-transform: uppercase;
                            font-size: size(15);
                            font-weight: 700;
                            line-height: size(18.57);
                            color: var(--pink);
                        }
                    }
                }
            }
            .image{
                width: 50%;
                height: size(720);
                @media #{max-width()} {
                    width: 100%;
                    height: 100%;
                 }
                img{
                    width: auto;
                    height: 100%;
                    @media #{max-width()} {
                        width: 100%;
                        height: 100%;
                     }
                    
                }
        }
        }
        .bottom{
            display: flex;
            @media #{max-width()} {
                flex-direction: column;
             }
            .info{
                width: 50%;
                padding: size(56) size(91);
                @media #{max-width()} {
                    width: 100%;
                    padding: size(20) size(20);
                 }

                .infoContent{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    @media #{max-width()} {
                        gap: size(30);
                     }
                    .title{
                        display: flex;
                        flex-direction: column;
                        gap: size(20);
                    
                    h2{
                        font-size: size(59);
                        font-weight: 700;
                        line-height: size(73.04);
                        color: var(--black);
                        span{
                            color: var(--green1);
                        }
                        @media #{max-width()} {
                            font-size: size(32);
                            line-height: size(42);
                         }
                    }
                    p{
                        font-size: size(24);
                        font-weight: 700;
                        line-height: size(32);
                        color: var(--black);
                        span{
                            color: var(--pink);
                            font-weight: 600;
                        }
                        @media #{max-width()} {
                            font-size: size(18);
                            line-height: size(24);
                         }
                    }
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: size(44);
                        @media #{max-width()} {
                            gap: size(20);
                         }
                        li{
                            display: flex;
                            align-items: center;
                            gap: size(34);
                            @media #{max-width()} {
                                gap: size(15);
                             }
                            h4{
                                font-size: size(28);
                                font-weight:700;
                                line-height:size(35);
                                color: var(--black);
                                @media #{max-width()} {
                                    font-size: size(24);
                                    line-height:size(32);
                                 }
                            }
                            img{
                                width: size(75);
                                height: size(75);
                                @media #{max-width()} {
                                    width: size(55);
                                    height: size(55);
                                 }
                            }
                        }
                    }
                }
            }
            .image{
                width: 50%;
                height: size(720);
                @media #{max-width()} {
                    width: 100%;
                    height: 100%;
                 }
                img{
                    width: auto;
                    height: 100%;
                    @media #{max-width()} {
                        width: 100%;
                        height: 100%;
                     }
                    
                }
        }
        }
    }
 
}