@use '../../../../styles/base/func' as *; 
.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: size(20) size(16);
    background-color: black;
    z-index: 99999;
    .mobileContainer{
      @media #{max-width()} {
        max-width: 100% !important;
      }
    }
    .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{max-width()} {
     padding-inline: size(20);
    }
    .logo{
      img{
        height: size(55);
      }
    }
    nav{
      .navItems{
        display: flex;
        gap: size(24);
        color:var(--white);
        font-weight: 700;
        font-size: size(16);
        line-height: size(19.81);
        letter-spacing: 1%;
        .active{
            color: var(--active);
        }
        @media #{max-width()} {
          flex-direction: column;
        }
      }
    }
    .buttons{
      display: flex;
      gap:size(8)
    }
  }
  &.headerTransparent {
    background-color: transparent; /* Home sayfasında */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  &.headerRelative {
    position: relative;
  }
}
.mobileNav{
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size(10);
  color: var(--white);
  position: fixed;
  top: -100vh; 
  left: 0;
  z-index: 888888;  
  padding-block: size(20);
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  &.mobileActive{
    top: 0;
    opacity: 1;
  }
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: size(30);
  }
  ul{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    padding-block: size(50);
    padding-inline: size(25);
    li{
      display: flex;
      align-items: center;
      gap: size(12);
      padding-block: size(24);
      font-weight: 700;
      &:hover{
        background-color: var(--green1);
        color: var(--black);
      }
      h4{
        font-size: size(16);
        font-weight: 700;
        line-height: size(19.81);
        color: var(--white);
      }
    }
  }
  .buttons{
    display: flex;
    gap: size(10);
    width: 100%;
    button{
      width: 100%;
    }
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  span {
    background-color: var(--white);
    width: 100%;
    height: 2px;
    display: flex;
    margin-left: auto;
    transition: all 500ms ease;
    &:nth-child(1) {
    }
    &:nth-child(2) {
      width: 50%;
      transform-origin: left;
    }
    &:nth-child(3) {
      width: 80%;
    }
  }
  &.menuActive {
    span {
      background-color: var(--white);
      width: 100%;
      height: 2px;
      display: flex;
      margin-left: auto;
      &:nth-child(1) {
        transform: translateY(20px) rotate(135deg);
      }
      &:nth-child(2) {
        width: 50%;
        transform: scaleX(0);
      }
      &:nth-child(3) {
        width: 100%;
        transform: translateY(-8px) rotate(-135deg);
      }
    }
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}