<section class="heroabout">
    <div class="textContent">
      <h2>Kodlama Yeteneğini
        <span>Yapay Zeka ile Güçlendir!</span>
      </h2>
      <p>Yapay zeka destekli online yazılım kursumuzla, kodlama yeteneğinizi bir üst seviyeye taşıyın. Sıfırdan başlayarak, modern yazılım geliştirme ve yapay zeka teknolojileriyle projeler oluşturmayı öğrenin. Geleceğin teknolojileri sizi bekliyor!</p>
      <button  class="btn blurButton">
        PROGRAMLARI KEŞFEDİN
        <img src="./images/icons/click.png" alt="click" />
      </button>
    </div>
    <div class="bacground">
      <img class="icon" src="./images/aboutImage.svg" alt="aboutImage" />
    </div>
  </section>
  