<section class="formsection">
    <div class="leftContent">
      <div class="map">
        <div class="text">
          <h5>See on Maps</h5>
          <img src="/images/icons/mapIcon.png" alt="mapIcon" />
        </div>
        <div class="bg">
          <img src="/images/map.png" alt="map" />
        </div>
      </div>
      <div class="address">
        <div class="tr">
          <h2>Ankara-TÜRKİYE</h2>
          <p>Mustafa Kemal Mahallesi 2079 Sokak B-Blok C15-16 / ViaGreen Plaza Çankaya, Ankara, TÜRKİYE</p>
          <div class="contact">
            <div class="number">
              <img src="/images/icons/phone.png" alt="phone" />
              <span>+90 312 212 00 09</span>
            </div>
            <div class="mail">
              <img src="/images/icons/sms.png" alt="sms" />
  <span>info&#64;systempure.ai</span>
            </div>
          </div>
          <div class="button">
            <a href="#"><span>Haritada Göster</span>
              <img src="/images/icons/arrow.png" alt="arrow" />
            </a>
          </div>
        </div>
        <div class="bae">
          <h2>Dubai - BAE</h2>
          <p>Meydan Grandstand, 6th floor,Meydan Road, Nad Al Sheba,Dubai, U.A.E</p>
          <div class="contact">
            <div class="number">
              <img src="/images/icons/phone.png" alt="phone" />
              <span>+971 58 533 0653</span>
            </div>
            <div class="mail">
              <img src="/images/icons/sms.png" alt="sms" />
  <span>info&#64;systempure.ai</span>
            </div>
          </div>
          <div class="button">
            <a href="#"><span>Haritada Göster</span>
              <img src="/images/icons/arrow.png" alt="arrow" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="rightContent">
      <div class="form">
        <div class="nameSurname">
          <label for="nameSurname">Adınız ve Soyadınız</label>
          <input id="nameSurname" type="text" placeholder="Adınızı ve Soyadınızı eksiksiz giriniz"  />
        </div>
        <div class="numberAndEmail">
          <div class="number">
            <label for="number">Telefon Numaranız</label>
            <input id="number" type="tel" placeholder="GSM Numaranızı Giriniz"  />
          </div>
          <div class="email">
            <label for="e-mail">E-Posta Adresiniz</label>
            <input id="e-mail" type="email" placeholder="E-Posta Adresinizi Giriniz" />
          </div>
        </div>
        <div class="konu">
          <label for="konu">Konu</label>
          <input id="konu" type="text" placeholder="Lütfen İlgili Departman Seçiniz" />
        </div>
        <div class="desc">
          <label for="desc">Açıklama</label>
          <textarea id="desc" rows="5" placeholder="Lütfen Detaylı Bilgileri Giriniz" ></textarea>
        </div>
        <button>FORMU GÖNDER
          <img class="iconDefault" src="/images/icons/arrow-right.png" alt="send" />
          <img class="iconHover" src="/images/icons/arrow-right-hover.png" alt="send" />
        </button>
      </div>
    </div>
  </section>
  