@import '../../../../styles/base/func';
.homePage{
  .homeContent{
    display: flex;
    flex-direction: column;
    gap: size(150);
    @media #{max-width()} {
      gap: size(50);
      overflow: hidden;
   }
  }
}