@import '../../../../../styles/base/func';
.hero{
  position: relative;
  min-height: size(1475);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{max-width()} {
    min-height: auto;
    margin-bottom: size(100);
 }
  .content{
    position: relative;
    height: auto;
    top: size(224);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: size(106);
    @media #{max-width()} {
      gap: size(30);
      top: size(180);
    }

    .textConten{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: size(28);
      @media #{max-width()} {
        justify-content: flex-end;
     }
      h2{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: size(74);
        font-weight: 800;
        line-height: size(74.2);
        @media #{max-width()} {
          font-size: size(42);
          font-weight: 800;
          line-height: size(48);
       }
        span{
          color: var(--pink);
        }
      }
      p{
        text-align: center;
        font-size: size(24);
        font-weight: 500;
        line-height: size(32);
      }
    }
    .sectionPc{
      position: relative;
      height: size(820);
      @media #{max-width()} {
        height: size(350);
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .bacground{
    position: absolute;
    top: 0;
    z-index: -1;
    img{
      width: auto;
      height: size(1098);
      @media #{max-width()} {
        height: 100vh
     }
    }
  }

}