<section class="hero">
    <div class="content">
      <div class="textConten">
      <h2>6 ayda uluslararası
      <span>yazılımcı ol</span></h2>
      <p>Kişiye özel, yapay zeka destekli, tamemen uygulama odaklı eğitim. <br /> Türkiye’nin en etkili kariyer merkezi.</p>
      <button class="kButton">
        HEMEN BAŞVUR
        <img src="./images/icons/click.png" alt="click" />
        </button>
      </div>
        <div class="sectionPc">
      <img src="./images/heroPc.svg" alt="pc" />
    </div>
    </div>
    <div class="bacground">
      <img class='icon' src="./images/hero.svg" alt="hero" />
    </div>
</section>