:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #0A0F19;
  --pink:#ED417F;
  --gary:#D1D5DA;
  --green1:#7DC6B5;
  --green3:#74E4CA;
  --green2:#116E58;
  --darkBlue:#052A44;
  --contactText:#7D7E80;
  --pinkButton:rgba(237, 65, 127, 1);
  --pinkNeonButton:rgba(233, 59, 227, 1);
  --grayButton:rgba(255, 255, 255, 0.24);
  --active:rgba(125, 198, 181, 1);
  --footerBg:#0A0F19;
  --footerGray:#C2C3C5;
}
