@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 100; /* UltraLight */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 200; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 950; /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../public/fonts/gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 950;
  font-style: italic;
}


html,
* {
  font-family: 'Gilroy', sans-serif;
}
h1{
  font-family: "Gilroy", cursive;
  font-weight: 700;
}
h2,
h6 {
  font-family: 'gilroy';
}
